<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">User Profile</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-iten">
        <a class="nav-link" *ngIf="check()" routerLink="/list" routerLinkActive="active">Users</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link" *ngIf="!check()" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-link" *ngIf="!check()" routerLink="/register" routerLinkActive="active">Register</a>
      <a class="nav-link" style="cursor: pointer;" *ngIf="check()" (click)="logout()">Logout</a>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
