<h2 [hidden]="!(user._id==undefined)">Create User</h2>
<h2 [hidden]="!(user._id!=undefined)">Edit User</h2>
<hr>
<div class="col-sm-6">
    <form  #form="ngForm" (ngSubmit)="saveData(form)">
        <div class="form-group">
            <label >Name</label>
            <input  type="text" name="Name" [(ngModel)]="user.name" #Name="ngModel" class="form-control" required/>
            <div *ngIf="Name.errors && form.submitted" class="text-danger">Please enter name</div>
        </div>
        <div class="form-group">
            <label >Contact</label>
            <input  type="text" name="Contact" [(ngModel)]="user.contact" #Contact="ngModel" class="form-control" required/>
            <div *ngIf="Contact.errors && form.submitted" class="text-danger">Please enter contact</div>
        </div>
         <div class="form-group">
            <label >Email</label>
            <input  type="text" name="Email" [(ngModel)]="user.email" #Email="ngModel" class="form-control" required/>
            <div *ngIf="Contact.errors && form.submitted" class="text-danger">Please enter email</div>
        </div>
        <div class="form-group">
            <label >Address</label>
            <textarea  name="Address" #Address="ngModel" [(ngModel)]="user.address"  cols="30" rows="5" class="form-control" required></textarea>
            <div *ngIf="Address.errors && form.submitted" class="text-danger">Please enter address</div>
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-primary">
        </div>
    </form>
</div>

